<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.datateam.touristassistant.mapper.MessageMapper">

    <insert id="insertMessage">
        insert into message(openid,content,type,time)
        values (#{openid},#{content},#{type},#{time})
    </insert>
    <select id="selectMessage">

    </select>
    <select id="selectMessageByOpenid">
        select * from message where openid = #{openid}
    </select>
</mapper>